# env/Production.yaml
# LIVE-migrated from Apifox 'Production' environment on 2026-09-08.
# Layering: env/Global.yaml -> env/<ENV>.yaml -> <case>.vars.yaml

'#_comment': LIVE-migrated from Apifox 'Production' environment (project 5446866) on 2026-09-08. For Apifox global variables see env/Global.yaml. Per-case <slug>.vars.yaml overrides these.
base_url: https://katana-api.1m.app
variables:
  access_token: ''
  Pear-AutoTesting: Lury
  post-autocoupon: 2ufyk7
  post_url: prod-test
  postid: ''
  promoterProductVariantId: ''
  price: ''
  discount: ''
  shippingfee: ''
  pear_client_id: 8778ce59-62d6-48d5-9e95-78c3d54fc0d0
  pear_client_secret: '{{PEAR_CLIENT_SECRET}}'
  freeshipping: ''
  twoitemprice: ''
  threeitemprice: ''
  fouritemprice: ''
  post_default_subscription: z3a1ti
  subscriptionPlanOptionId: ''
  catalogcoupon_post: catalogcoupon_post
  order_id: ''
  Stripeid: ''
  clientSecret: ''
  paymentMethod: ''
  paymentMethodId: ''
  orderNumber: ''
  account_email_merchant: ''
  password_merchant: ''
  merchant_access_token: ''
  merchantId: ''
  guest_session_id: ''
  guest_token: ''
  order_number: ''
  adminurl: https://admin.katana-api.1m.app
  admin_token: ''
  password: ''
  module_id: ''
  eventcatalog_id: ''
  partner997_auth_token: ''
  productId: ''
  randomNumber: ''
  productId0: ''
  productId1: ''
  coseller_auth_token: ''
  adminpassword: '{{ADMIN_PASSWORD}}'
  user_id: ''
  user_partner997_id: ''
  user_coseller_id: ''
  token: ''
  created_event_id: ''
  post0_id: ''
  ticket_id: ''
  variant_id: ''
  post_id: ''
  createFromEventId: ''
  ticketsid: ''
  variantsid: ''
  autoCreatedPostId: ''
  current_product_id: ''
  current_variants_json: ''
  merchant_id: ''
  shipping_option_id: ''
  ProductVariantId0: ''
  ProductVariantId1: ''
  is_products_tab_enabled: ''
  form_id: ''
  itemId: ''
  cosellermodule_id: ''
  cosellpost_id: ''
  alias1: ''
  alias0: ''
  neweventid: ''
  shipping_fee_postsId: ''
  auto_coupon_postsId: ''
  two_tickets_postsid: ''
  merchant_id_autotest: ''
