# env/Release.yaml
# LIVE-migrated from Apifox 'Release' environment on 2026-09-08.
# Layering: env/Global.yaml -> env/<ENV>.yaml -> <case>.vars.yaml

'#_comment': LIVE-migrated from Apifox 'Release' environment (project 5446866) on 2026-09-08. For Apifox global variables see env/Global.yaml. Per-case <slug>.vars.yaml overrides these.
base_url: https://release.katana-api.1m.app
variables:
  token: 'Bearer {{RELEASE_TOKEN}}'
  access_token: ''
  admin_token: ''
  Admin_token: ''
  account_email_merchant: ''
  password_merchant: ''
  merchant_access_token: ''
  merchant_token: ''
  orderNumber: ''
  expected_paid: ''
  merchantId: ''
  processing_fee: ''
  Pear-AutoTesting: Lury
  post_url: mcc
  post-autocoupon: j0oh8b
  postid: ''
  promoterProductVariantId: ''
  price: ''
  discount: ''
  paymentMethodId: ''
  lineItems_id: ''
  new_invitation_link: ''
  rewarddata_id: ''
  rewarddata_rewardBalance: ''
  externalId: ''
  methods: ''
  post_default_subscription: zr20it
  pear_client_id: 8778ce59-62d6-48d5-9e95-78c3d54fc0d0
  pear_client_secret: '{{PEAR_CLIENT_SECRET}}'
  promoter_id: ''
  promoterId: ''
  contractId: ''
  contractNumber: ''
  twoitemprice: ''
  promoterProductVariant Id: ''
  threeitemprice: ''
  fouritemprice: ''
  subscriptionPlanOptionId: ''
  catalogcoupon_post: qe8kov
  timeZoneAsia: ''
  timeZoneAsiaAmerica: ''
  merchant_id: ''
  today_count: ''
  total_revenue: ''
  consumer_id: ''
  priceAnchor: ''
  subscriptionPlanOptionid: ''
  subscriptionPlanOptionid_new: ''
  order_date0: ''
  order_count0: ''
  order_date1: ''
  order_count1: ''
  order_date2: ''
  order_count2: ''
  Sales: ''
  sales: ''
  guest_token: ''
  quantity: ''
  T2240_Price: ''
  T2240_costPrice: ''
  T2240_postId: ''
  T2240_promoterProductVariantId: ''
  postId: ''
  image_id: ''
  payoutBalance: ''
  firstId: ''
  productId: ''
  randomNumber: ''
  upcomingOrderId: ''
  VariantsId: ''
  CompareAtPrice: ''
  merchantProductName: ''
  instructions: ''
  commissionRate: ''
  storeName: ''
  isVisible: ''
  posid: ''
  addess_id: ''
  Items: ''
  variable_key: ''
  fdfef8af-2f52-48a4-a19a-893bc827f7e0: ''
  order_number: ''
  merchantOrderId: ''
  base_admin_api_url: https://release.admin.katana-api.1m.app
  admin_access_token: ''
  userID: ''
  merchant_password: '{{MERCHANT_PASSWORD}}'
  merchant_email: dian.yuhong.ext+34@1m.app
  promoter_email: dian.yuhong.ext+35@1m.app
  consumer_email: dian.yuhong.ext+19@1m.app
  M1: dian.yuhong.ext@1m.app
  P1: yuxiao.zhu.ext+3@1m.app
  P5: dian.yuhong.ext+27@1m.app
  curator_email: dian.yuhong.ext+6@1m.app
  curator_access_token: ''
  curatorOrderId: ''
  promoter_access_token: ''
  promoterOrderId: ''
  base_app_url: https://release.katana-api.1m.app
  lineItemId: ''
  M1_access_token: ''
  P5_access_token: ''
  P5_OrderId: ''
  P1_OrderId: ''
  M1_totalRevenue: ''
  M1_total_earnings: ''
  promoter_total_earnings: ''
  admin_orderId: ''
  media0: ''
  media1: ''
  media2: ''
  media3: ''
  media4: ''
  coverImages: ''
  src: ''
  eventId: ''
  lineup_random: ''
  P1_password: '{{P1_PASSWORD}}'
  pay_method_id: '2582fb69-bc90-4c5c-a712-e3af31f044ca'
  affiliate_promoter: dian.yuhong.ext+26@1m.app
  merchantId8: 8414b1af-e90c-4f2c-ac4e-6b7ffeb1c6f2
  m1_transaction_fee: ''
  p1_transaction_fee: ''
  merchant_transaction_fee: ''
  curator_transaction_fee: ''
  promoter_transaction_fee: ''
  p5_transaction_fee: ''
  P1_merchantIDa: a321055c-1c18-48ac-8fe9-f237ba29e820
  P1_merchantIDb: b36700cd-1d30-4b1b-a4e8-ce70e3e62087
  merchantID7: 710f86ca-7868-41d9-9e04-3e180f4cb6fc
  p1_transaction_fee1: ''
  merchant_transaction_fee1: ''
  promoter_transaction_fee1: ''
  merchant_transaction_fee2: ''
  promoter_transaction_fee2: ''
  M1_merchantIDe: 02e0c1e6-89b1-4b36-9e57-daa112331d80
  m1_transaction_fee_item1: ''
  m1_transaction_fee_item2: ''
  m1_transaction_fee_item3: ''
  adminurl: https://release.admin.katana-api.1m.app
  m1_transaction_fee_item4: ''
  p1_transaction_fee_item1: ''
  p1_transaction_fee_item2: ''
  p1_transaction_fee_item3: ''
  p1_transaction_fee_item4: ''
  merchant_transaction_fee_item1: ''
  merchant_transaction_fee_item2: ''
  merchant_transaction_fee_item3: ''
  merchant_transaction_fee_item4: ''
  lineItemId_12: ''
  lineItemId_35: ''
  lineItemId_23: ''
  lineItemId_15: ''
  affiliate_access_token: ''
  account_email_curator: ''
  password_curator: ''
  orderLineItemId: ''
  dataId: ''
  orderLineItemUnits: ''
  M1_merchantID2: 2d4e05ad-d14e-478a-a4f1-d7008675f28a
  P1_access_token: ''
  M1_merchantID6: 6c27b126-f4bc-4565-aefa-127b3420882c
  affiliate_transaction_fee: ''
  P1_merchantIDbe: bed7b1d8-16d8-4d27-ab1a-dc4a8f19e0c6
  m1_rebate: ''
  merchant_tax: ''
  m1_tax: ''
  tax_total: ''
  merchant_earnings: ''
  m1_earnings: ''
  refund_id: ''
  item_unit_id_list: ''
  first_item_unit_id: ''
  second_item_unit_id: ''
  id: ''
  request_id: ''
  futureRandomTime: ''
  updatedEventTitle: ''
  matchedEventId: ''
  oldAddressId: ''
  newAddressId: ''
  campaignId: ''
  campaignEmailId: ''
  lindaAutomationIds: ''
  randomLindaAutomationId: ''
  deleteVerifyResult: ''
  searchVerifyResult: ''
  searchVerifyErrors: ''
  emailCompletedId: ''
  smsCompletedId: ''
  newEmailCampaignId: ''
  newSMSCampaignId: ''
  smsCampaignGenerateVerifyResult: ''
  smsCampaignGenerateVerifyLogs: ''
  emailCampaignGenerateVerifyResult: ''
  emailCampaignGenerateVerifyLogs: ''
  dynamicMusicTitle: ''
  dynamicMusicLinkId: ''
  linkMusicConfigInnerItemId: ''
  moduleContentId: ''
  M1_merchantIe6: e6e8deaa-f676-4aeb-abfe-7c7afbcab66e
  m1_transaction_fee_ticket: ''
  item_in_cart_id: ''
  posttitle: ''
  urlAlias: ''
  post_id: ''
  deletedProductId: ''
  merchantIDf: f29cfb7e-6db7-4fe5-bd12-f15940546b98
  promoter_earnings: ''
  gmail_access_token: ''
  unit_price: ''
  numberCode: ''
  google_client_id: ''
  google_client_secret: ''
  partner_email: ''
  co_seller_email: ''
  password: "{{P1_PASSWORD}}"
  password_api: ''
  post_alias: ''
  refresh_token: ''
  google_access_token: ''
  gmail_latest_msg_id: ''
  latestMailId: ''
  gmail_code: ''
  otp_request_ts: ''
  auth_token: ''
  auth_refresh_token: ''
  us_phone: ''
  PartnerEmail: linda.zhou.ext+30@1m.app
  CosellerEmail: linda.zhou.ext+31@1m.app
  CosellerEmailT1994: linda.zhou.ext+32@1m.app
  user_id: ''
  partner_access_token: ''
  retail_price: ''
  tax: ''
  tax_rate: ''
  fee: ''
  revenue_price: ''
  fees: ''
  tax_rate_value: ''
  start_time: ''
  lastMessageId: ''
  targetOrderEmailId: ''
  ticket1_id: ''
  post_title: ''
  event_location: ''
  event_venue: ''
  ticket1_promoter_variant_id: ''
  shippingAddressId: ''
  event_post_id: ''
  consumer_token: ''
  orderId: ''
  shippingAddress_id: ''
  consumer_access_token: ''
  partner_user_id: ''
  catalog_id: ''
  coseller_access_token: ''
  coseller_user_id: ''
  ticket1_catalog_id: ''
  resll_post_id: ''
  release_sql_address: katana-release.ctv4lcp038zi.us-east-2.rds.amazonaws.com
  release_sql_username: postgres
  release_sql_password: '{{RELEASE_SQL_PASSWORD}}'
  release_sql_name: katana
  guest_session_id: ''
  stripe_setup_id: ''
  stripe_client_secret: ''
  stripe_setup_intent_id: ''
  affiliateCode: ''
  shortUrl: ''
  shortCode: ''
  smsshortcode: ''
  payout_m1: ''
  payout_merchant: ''
  scan_token: ''
  lifetimeEarning: ''
  commissionEarning: ''
  totalRevenue_tofulfill: ''
  totalOrders_tofulfill: ''
  totalRevenue_fulfilled: ''
  totalOrders_fulfilled: ''
  lifetimeEarning_merchant: ''
  commissionEarning_merchant: ''
  totalRevenue_tofulfill_merchant: ''
  totalOrders_tofulfill_merchant: ''
  totalRevenue_fulfilled_merchant: ''
  totalOrders_fulfilled_merchant: ''
  lifetimeEarning_full_refund: ''
  totalRevenue_fulfilled_full_refund: ''
  totalOrders_fulfilled_full_refund: ''
  lifetimeEarning_merchant_full_refund: ''
  commissionEarning_merchant_full_refund: ''
  lifetimeEarning_placed: ''
  totalItemsRedeemed: ''
  totalRevenue_fulfilled_placed: ''
  totalOrders_fulfilled_placed: ''
  lifetimeEarning_merchant_placed: ''
  commissionEarning_merchant_placed: ''
  resell_post_id: ''
  lifetimeEarning_partial_refund: ''
  totalRevenue_fulfilled_partial_refund: ''
  totalOrders_fulfilled_partial_refund: ''
  lifetimeEarning_merchant_partial_refund: ''
  commissionEarning_merchant_partial_refund: ''
  M1_merchantID8c: 8c2e9374-b82a-4cac-a74a-aaa6acbc89dd
  newPostId: ''
  catalog_price: ''
  compare_price: ''
  tax_value: ''
  coseller token: ''
  coseller_token: ''
  rest_merchant_transaction_fee: ''
  rest_promoter_transaction_fee: ''
  rest_p1_transaction_fee: ''
  rest_p5_transaction_fee: ''
  rest_curator_transaction_fee: ''
  rest_m1_transaction_fee: ''
  rest_m1_transaction_fee_ticket: ''
  currentOrderId: ''
  cart_is_empty: ''
  cart_item_ids: ''
  current_item_id: ''
  neworderId: ''
  P-21: ''
  P-22: ''
  P-21_access_token: ''
  balance_amount: ''
  location: ''
  event_venu: ''
  lifetimeEarning_p: ''
  balance_amount_p: ''
  event_id: ''
  lifetimeEarning_p_lineup: ''
  balance_amount_lineup: ''
  balance_amount_p_lineup: ''
  lineup_id: ''
  lifetimeEarning_promoter: ''
  balance_amount_promoter: ''
  lifetimeEarning_lineup2: ''
  selected_count_sms: ''
  selected_count_email: ''
  newticketid: ''
  newMediaId: ''
  newlineupId: ''
  item_id: ''
  merch_id: ''
  current_record_id: ''
  invitation_id: ''
  Stripeid: ''
  clientSecret: ''
  paymentMethod: ''
  config_id: ''
  lifetimeEarning_order: ''
  lifetimeEarning_share: ''
  event_start_date: ''
  first_date: ''
  second_date: ''
  third_date: ''
  co-seller_variant_id: ''
  orignalpassword: ''
  module_id: ''
  user_coseller_id: ''
  invitationCode: ''
  coseller_auth_token: ''
  coseller_auth_refresh_token: ''
  cosellpost_id: ''
  cosellermodule_id: ''
  promotion_id: ''
  current_start_time: ''
  shippingfee: ''
  Shipping type: ''
  freeshipping: ''
  old_shippingAddressId: ''
  new_shippingAddressId: ''
  post0_id: ''
  ticket_id: ''
  first_variant_id: ''
  shipping_option_id: ''
  is_products_tab_enabled: ''
  form_id: ''
  user_partner997_id: ''
  partner997_auth_token: ''
  eventcatalog_id: ''
  productId0: ''
  productId1: ''
  ProductVariantId0: ''
  ProductVariantId1: ''
  variant_id: ''
  createFromEventId: ''
  ticketsid: ''
  variantsid: ''
  itemId: ''
  v: ''
  autoCreatedPostId: ''
  current_product_id: ''
  current_variants_json: ''
  token1: ''
  adminpassword: '{{ADMIN_PASSWORD}}'
  alias1: ''
  alias0: ''
  ticket_id_low: ''
  ticket_id_high: ''
  xuan_token: ''
  merchant_id_autotest: ''
  neweventid: ''
  shipping_fee_postsId: ''
  auto_coupon_postsId: ''
  two_tickets_postsid: ''
  total_fee: ''
  created_event_id02: ''
  aff_transaction_fee: ''
  aff_earnings: ''
  section: ''
  linda00_token: ''
  linda05_token: ''
  linda10_token: ''
  inclusionNames: ''
  inclusion_0: ''
  inclusion_1: ''
  inclusion_2: ''
  inclusion_3: ''
  inclusion_4: ''
  promoterProductId: ''
  yuxiao999_token: ''
  guest_id: ''
  yuxiao998_token: ''
  co-hostid: ''
  linda01_token: ''
  linda06_token: ''
  xuan22_token: ''
  created_event_id: ''
  targetEventId: ''
  current_iso_date: ''
  startDateDisplay: ''
  formattedDateReadable: ''
  endDateDisplay: ''
  dup_event_id: ''
  total_revenue0: ''
  event_title: ''
  merchantProductVariantId: ''
  venuemap_eventid: ''
  ticket_title: ''
  categoryId: ''
  seatNumber: ''
  unitId: ''
  old_productId: ''
  oldpromoterProductId: ''
  oldmerchantProductVariantId: ''
  displayVariantId: ''
  usPhoneNumber: ''
  ticket_id_General_Admission_02: ''
  variant_id_General_Admission_02: ''
  productId_General_Admission_02: ''
  ticket_id_General_Admission_01: ''
  variant_id_General_Admission_01: ''
  productId_General_Admission_01: ''
  ticket_id_General_Admission: ''
  variant_id_General_Admission: ''
  productId_General_Admission: ''
  venue_map_event_id: ''
  curator_id: ''
  venue_map_post_id: ''
  venue_map_ticket_id_General_Admission_02: ''
  venue_map_productId_General_Admission_02: ''
  venue_map_variant_id_General_Admission_02: ''
  venue_map_ticket_id_General_Admission_01: ''
  venue_map_productId_General_Admission_01: ''
  venue_map_variant_id_General_Admission_01: ''
  venue_map_ticket_id_General_Admission: ''
  venue_map_productId_General_Admission: ''
  venue_map_variant_id_General_Admission: ''
  promoterProductId_General_Admission_02: ''
  merchantProductVariantId_General_Admission_02: ''
  promoterProductId_General_Admission_01: ''
  merchantProductVariantId_General_Admission_01: ''
  promoterProductId_General_Admission: ''
  merchantProductVariantId_General_Admission: ''
  categoryId_General_Admission_02: ''
  categoryId_General_Admission_01: ''
  categoryId_General_Admission: ''
  ticketId_General_Admission_02: ''
  ticketId_General_Admission_01: ''
  ticketId_General_Admission: ''
  venueUnitCategoryId_General_Admission_02: ''
  venueUnitCategoryId_General_Admission_01: ''
  venueUnitCategoryId_General_Admission: ''
  venueMapId: ''
  event_title_API: ''
  copyFromId: ''
  merchant_id_General_Admission_02: ''
  merchant_id_General_Admission_01: ''
  merchant_id_General_Admission: ''
  displayVariantId_General_Admission_02: ''
  displayVariantId_General_Admission_01: ''
  displayVariantId_General_Admission: ''
  unitid: ''
  multipleDaysPass_days: ''
  venueUnitCategoryId: ''
  AXS_eventHandle1: ''
  AXS_eventHandle2: ''
  TDC_eventHandle1: ''
  TDC_eventHandle2: ''
  productId_General_Admission_—_Pear.US: ''
  promoterProductId_General_Admission_—_Pear.US: ''
  merchantProductVariantId_General_Admission_—_Pear.US: ''
  displayVariantId_General_Admission_—_Pear.US: ''
  ticket_title_General_Admission_—_Pear.US: ''
  ticketHubInfo_id: ''
  ticketHandle: ''
  availableQuantity: ''
  sectionIds: ''
  productForm: ''
  yuxiao999: yuxiao.zhu.ext+999@1m.app
  yuxiao999_access_token: ''
  dul_event_title: ''
  axs_event_id: ''
  axs_post_id: ''
  order_id: ''
