# env/Staging.yaml
# LIVE-migrated from Apifox 'Staging' environment on 2026-09-08.
# Layering: env/Global.yaml -> env/<ENV>.yaml -> <case>.vars.yaml

'#_comment': LIVE-migrated from Apifox 'Staging' environment (project 5446866) on 2026-09-08. For Apifox global variables see env/Global.yaml. Per-case <slug>.vars.yaml overrides these.
base_url: https://staging.katana-api.1m.app
variables:
  token: 'Bearer {{STAGING_TOKEN}}'
  access_token: ''
  admin_token: ''
  Pear-AutoTesting: Lury
  post-autocoupon: '111'
  post_url: yu-xiao
  Stripeid: ''
  clientSecret: ''
  new_invitation_link: ''
  rewarddata_id: ''
  rewarddata_rewardBalance: ''
  Shipping type: ''
  pear_client_id: 8778ce59-62d6-48d5-9e95-78c3d54fc0d0
  pear_client_secret: '{{PEAR_CLIENT_SECRET}}'
  lineup_random: ''
  paymentMethod: ''
  paymentMethodId: ''
  orderNumber: ''
  merchantId: ''
  merchant_id: ''
  consumer_id: ''
  postid: ''
  coverImages: ''
  productId: ''
  randomNumber: ''
  twoitemprice: ''
  threeitemprice: ''
  fouritemprice: ''
  order_number: ''
  lineItems_id: ''
  merchantOrderId: ''
  orderLineItemId: ''
  dataId: ''
  orderLineItemUnits: ''
  methods: ''
  consumer_token: ''
  promoterProductVariantId: ''
  subscriptionPlanOptionid: ''
  contractId: ''
  contractNumber: ''
  timeZoneAsia: ''
  timeZoneAsiaAmerica: ''
  guest_token: ''
  old_shippingAddressId: ''
  upcomingOrderId: ''
  new_shippingAddressId: ''
  VariantsId: ''
  CompareAtPrice: ''
  merchantProductName: ''
  postId: ''
  instructions: ''
  commissionRate: ''
  storeName: ''
  isVisible: ''
  subscriptionPlanOptionId: ''
  addess_id: ''
  price: ''
  m1_transaction_fee: ''
  p1_transaction_fee: ''
  merchant_transaction_fee: ''
  curator_transaction_fee: ''
  promoter_transaction_fee: ''
  p5_transaction_fee: ''
  affiliate_transaction_fee: ''
  promoter_transaction_fee2: ''
  p1_transaction_fee1: ''
  merchant_transaction_fee1: ''
  promoter_transaction_fee1: ''
  merchant_transaction_fee2: ''
  created_event_id: ''
  m1_rebate: ''
  merchant_tax: ''
  m1_tax: ''
  tax_total: ''
  merchant_earnings: ''
  m1_earnings: ''
  futureRandomTime: ''
  base_admin_api_url: staging.admin.katana-api.1m.app
  otp_request_ts: ''
  account_email_merchant: ''
  password_merchant: ''
  merchant_access_token: ''
  merchant_token: ''
  orderId: ''
  item_in_cart_id: ''
  admin_access_token: ''
  admin_orderId: ''
  order_id: ''
  guest_session_id: ''
  rest_merchant_transaction_fee: ''
  rest_promoter_transaction_fee: ''
  rest_p1_transaction_fee: ''
  rest_p5_transaction_fee: ''
  rest_curator_transaction_fee: ''
  rest_m1_transaction_fee: ''
  second_date: ''
  third_date: ''
  adminurl: https://staging.admin.katana-api.1m.app
  adminpassword: '{{ADMIN_PASSWORD}}'
  user_id: ''
  user_partner997_id: ''
  user_coseller_id: ''
  password: ''
  module_id: ''
  ticket_id: ''
  variant_id: ''
  post0_id: ''
  eventcatalog_id: ''
  post_id: ''
  createFromEventId: ''
  ticketsid: ''
  variantsid: ''
  partner997_auth_token: ''
  cosellermodule_id: ''
  cosellpost_id: ''
  autoCreatedPostId: ''
  current_product_id: ''
  current_variants_json: ''
  shipping_option_id: ''
  productId0: ''
  productId1: ''
  alias1: ''
  alias0: ''
  ProductVariantId0: ''
  ProductVariantId1: ''
  is_products_tab_enabled: ''
  form_id: ''
  itemId: ''
  coseller_auth_token: ''
  emailCompletedId: ''
  smsCompletedId: ''
  newEmailCampaignId: ''
  newSMSCampaignId: ''
  coseller_token: ''
